:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
}

#selectedArtistsImg {
  height: 7rem;
}

#catchphrase {
  min-width: 220px;
  max-width: 100%;
  margin: 20px;
}

#shortInformations>p, #selectedArtists>p{
  text-align: justify;
  font-size: 1.8rem;
}

#contentStartInformations>h1 {
  font-size: 4.2rem;
  width: 20%;
}

#contentStart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#contentStartInformations {
  display: flex;
  align-items: center;

  width: 100%;
  justify-content: space-around;
  padding: 0 40px;

  margin-top: 90px;
  margin-bottom: 20px;
}

#shortInformations {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 20px;
}

#shortInformations>p {
  max-width: 400px;
}

#selectedArtists {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  gap: 15px;
  margin: 20px;
  margin-left: 0;
}

#contentStartInformations>h1 {
  width: 420px;
}

#contentStartImages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  place-items: center;
  grid-gap: 10px;

  margin-bottom: 40px;
  padding: 0 40px;
  width: 100%;
}

#contentStartImages>img {
  width: 90%;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.37);
}

@media (max-width: 960px) {
  #contentStartImages {
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  #contentStartInformations {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
  }

  #shortInformations {
    align-items: center;
  }

  #contentStartInformations>h1 {
    text-align: center;
    padding: 40px;
    width: 100vw
  }

  #contentStartImages>img {
    width: 90%;
  }
}